.myDiv{
    height: 200px;
    width: 200px;
    display: grid;
    grid-template-columns: repeat(5fr);
    grid-gap: 20px;
}
.myNewDiv{
    height: 200px;
    width: 200px;
    background-color: blue;
    /* visibility: hidden; */
    /* display: none; */
}
body{
    display: flex;
    justify-content: space-around;
    justify-items: center;
}
#mainDiv {
    display: grid;
    width: 200px;
    height: 200px;
    background-color: rebeccapurple;
}